@{
    ViewData["Title"] = "Home Page";

    if (ViewBag.SearchResult != null)
    {

    }

}

<div class="text-center">


    @*@using (Html.BeginForm("Search", "Home", FormMethod.Post, htmlAttributes: new { name = "search_term" }))
        {
        <input type="text" name="search_term" placeholder="Search here" />

        <input type="submit" name="submit" value="Test" />
        }*@

    <input type="text" name="search_term" id="search_term" placeholder="Search here" />

    <input type="button" id="sendreqBtn" name="submit" onclick="submitStudent()" value="Search" />

    <br />
    <br />

    <textarea id="search_result" disabled rows="10" cols="60" style=" overflow-y: scroll">

    </textarea>



    <script type="text/javascript">

        function submitStudent() {
            $.ajax({
                type: 'GET',
                url: 'http://localhost:6001/api/search/'+$('#search_term').val(),
                contentType: 'json', //
                crossDomain: true,
                success: function (result) {
                    //alert('Successfully received Data ');
                    //console.log(result);
                    var jparse = JSON.parse(result);
                    $("#search_result").val("");
                    if (result == "[]"){
                        $("#search_result").val("Not Found!");
                    }else{
                        for(var i=0; i<jparse.length;i++){

                            if(i==0){
                                $("#search_result").val("Total Records Found : "+jparse.length);
                            }

                            $("#search_result").val($("#search_result").val() + "\n" +"Weight: "+jparse[i].Key);
                            if(jparse[i].Value.name != null){
                                $("#search_result").val($("#search_result").val()+" , Value: "+jparse[i].Value.name);
                            }
                            else if(jparse[i].Value.owner != null){
                                $("#search_result").val($("#search_result").val()+" , Value: "+jparse[i].Value.owner);
                            }



                        }
                    }
                },
                error: function () {
                    alert('Failed to receive the Data');
                    console.log('Failed ');
                }
            })
        }

    </script>



</div>
